<header class="relative">
  <div class="flex justify-start items-center mx-auto px-8 md:px-14 lg:px-24 w-full pt-16">
    <h2 class="font-bold text-3xl lg:text-4xl text-left !leading-snug dark:text-white text-black transition-all duration-75">
      Hi there, I'm <span class="text-primary">João</span>,<br />
      and I <span class="line-through decoration-8">kinda</span>
      <span class="text-primary">make games</span>
    </h2>
  </div>
</header>
